<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title, links)">
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="webkit" name="renderer"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="个人博客" name="description">
    <meta content="" name="author">
    <meta content="pc" name="applicable-device">
    <meta content="no-transform" http-equiv="Cache-Control"/>
    <meta content="no-siteapp" http-equiv="Cache-Control"/>
    <meta content="code-12qBPsssuz" name="baidu-site-verification"/>
    <title th:replace="${title}">十八 | 博客</title>
    <!-- 网站图标 -->
    <link rel="shortcut icon" th:href="@{/resources/common/images/favicon-32x32.png}">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/resources/blog/lib/bootstrap/css/bootstrap.min.css}">
    <!-- 字体图标 -->
    <link rel="stylesheet" th:href="@{/resources/admin/login/css/font-awesome.min.css}">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <!-- 自定义主题样式 -->
    <link rel="stylesheet" th:href="@{/resources/blog/css/clean-blog.min.css}">
    <!-- layui css 样式表 -->
    <link rel="stylesheet" th:href="@{/resources/common/layui/css/layui.css}">
    <!-- layui.js -->
    <script th:src="@{/resources/common/layui/layui.js}"></script>
    <!-- JQuery -->
    <script th:src="@{/resources/common/js/jquery-3.6.0.js}"></script>
    <!-- 额外自定义引用 -->
    <th:block th:replace="${links}"/>
    <!-- Temporary navbar container fix until Bootstrap 4 is patched -->
    <style>
        .navbar-toggler {
            z-index: 1;
        }

        @media (max-width: 576px) {
            nav > .container {
                width: 100%;
            }
        }

        #myBtn1, #myBtn2 {
            /*display: none; !* 默认隐藏 *!*/
            position: fixed;
            border: none;
            outline: none;
            width: 50px;
            background-color: #393D49; /* 设置背景颜色，你可以设置自己想要的颜色或图片 */
            color: white; /* 文本颜色 */
            cursor: pointer;
            padding: 10px;
            border-radius: 10px; /* 圆角 */
        }

        #myBtn1 {
            bottom: 100px;
            right: 30px;
            z-index: 99;
        }

        #myBtn2 {
            bottom: 40px;
            right: 30px;
            z-index: 99;
        }

        #myBtn1:hover, #myBtn2:hover {
            background-color: #555;
        }
    </style>

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav" th:fragment="nav">
    <div class="container">
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" data-toggle="collapse"
                title="导航" type="button">
            Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" th:href="@{/index}">Smile</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" th:href="@{/index}" title="主页">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" th:href="@{/about}" title="关于">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" th:href="@{/links}" title="友链">Links</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" th:href="@{/archive}" title="归档">Archive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" shiro:guest="" th:href="@{/admin/toLogin}" title="登录">Login</a>
                    <a class="nav-link page-scroll" shiro:hasAnyRoles="admin, boss" th:href="@{/admin/index}"
                       title="后台管理">Manager</a>
                </li>
                <li class="nav-item" shiro:user="">
                    <a class="nav-link page-scroll" th:href="@{/logout}" title="退出">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Footer -->
<footer style="padding: 20px 20px" th:fragment="footer">
    <button id="myBtn1" onclick="topFunction()" title="回到顶部" type="button">
        <i class="layui-icon layui-icon-up"></i>
    </button>
    <button id="myBtn2" onclick="bottomFunction()" title="回到底部" type="button">
        <i class="layui-icon layui-icon-down"></i>
    </button>
    <div class="container" style="">
        <strong> 热门分类 ➲ &nbsp;</strong>
        <ul style="list-style-type: none; display: inline">
            <li style="display: inline" th:each="cate : ${categories}">
                <a th:href="@{/blogs/(variable = ${cate}, flag = false)}" th:text="${cate}"></a>
            </li>&nbsp;
        </ul>
        <br/>
        <br/>
        <strong> 热门标签 ➲ &nbsp;</strong>
        <ul style="list-style-type: none; display: inline">
            <li style="display: inline" th:each="tag : ${tags}">
                <a methods="Post" th:href="@{/blogs/(variable = ${tag}, flag = true)}" th:text="${tag}"></a>
            </li>&nbsp;
        </ul>
        <br/>
        <br/>
        <div style="display: flex; justify-content: space-between">
            <p class="copyright text-muted" title="版权">Copyright &copy; 十八 2022. &nbsp;&nbsp;&nbsp;
                <a href="https://www.zixuephp.cn/" style="text-decoration: none" target="_blank" title="模板来源">- collect
                    from 模板在线</a>
            </p>
        </div>
    </div>


    <!-- Tether -->
    <script th:src="@{/resources/blog/lib/tether/tether.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/resources/blog/lib/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Theme JavaScript -->
    <script th:src="@{/resources/blog/js/clean-blog.min.js}"></script>
    <script>

        // 点击按钮，返回顶部
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        // 点击按钮，返回底部
        function bottomFunction() {
            document.body.scrollTop = document.body.clientHeight;
            document.documentElement.scrollTop = document.body.clientHeight;
        }

        window.addEventListener("scroll", function () {
            document.getElementById('myBtn1').hidden = document.documentElement.scrollTop <= 100;
            // console.log(document.documentElement.scrollTop)
            // console.log(document.documentElement.scrollHeight)
            document.getElementById('myBtn2').hidden = document.documentElement.scrollTop >= document.documentElement.scrollHeight - 850;
        })

        let user = null;
        window.onload = function () {
            $.ajax({
                url: '/admin/user/userInfo',
                type: 'Post',
                success: function (data) {user = data;}
            })
        }

        // 更换头像
        updateAvatar = function () {
            layui.use(['upload', 'element', 'layer', 'flow'], function () {
                let $ = layui.jquery
                    , upload = layui.upload
                    , element = layui.element
                    , layer = layui.layer
                    , flow = layui.flow


                let first = layer.open({
                    type: 1
                    , shade: 0.8
                    , title: '<strong style="font-weight: bold">头像更换</strong>'
                    , shadeClose: true
                    , area: ['50%', '80%']
                    , success: function () {
                        // 更新用户头像
                        avatar = function (obj) {
                            console.log(obj)
                            let src = obj.getAttribute('src')
                            let userId = user.userId
                            console.log(src)
                            $.ajax({
                                url: '/admin/user/updateAvatar'
                                , type: 'Post'
                                , data: {
                                    avatar: src,
                                    userId: userId
                                }
                                , success: function (data) {
                                    if (data.code === 1) {
                                        layer.msg(data.message, {
                                            time: 1200,
                                            end: function () {
                                                layer.closeAll()
                                                location.reload()
                                            }
                                        })
                                    } else {
                                        layer.msg('', {
                                            time: 1200,
                                            content: '<strong style="color: red">${data.message}</strong>',
                                        })
                                    }
                                }
                            })
                        }

                        // 获取当前已有头像
                        getAvatar = function () {
                            console.log('触发头像获取')
                            $.ajax({
                                url: '/admin/user/setting/avatar'
                                , type: 'Post'
                                , success: function (data) {
                                    console.log("获取头像配置")
                                    console.log(data)
                                    let pictures = data.data;
                                    let length = pictures.length;
                                    if (length == null || length <= 1) {
                                        layer.msg('', {
                                            time: 1200,
                                            content: '<strong style="color: red">暂无额外头像，可先上传</strong>'
                                        })
                                        return false;
                                    }
                                    let result = '';
                                    for (let i = 0; i < length; i++) {
                                        result += '<img alt="" src="/avatar/img.png"  onclick="avatar(this)" width="100px" ' +
                                            'style="padding: 10px" lay-src="' + pictures[i].configValue + '">'
                                    }
                                    console.log(result)
                                    layer.open({
                                        type: 1
                                        , title: '<strong style="margin: 0 0">单击选择头像</strong>'
                                        , area: ['600px', '500px']
                                        , content: '<div class="site-demo-flow" id="LAY_demo3">' + result + ' </div>'
                                        , shade: 0.6
                                        , shadeClose: true
                                        , success: function () {
                                            // 按屏加载图片
                                            flow.lazyimg({
                                                elem: '#LAY_demo3 img'
                                                , scrollElem: '#LAY_demo3' //一般不用设置，此处只是演示需要。
                                            });
                                        }
                                    })
                                }
                            })

                        }

                        //常规使用 - 普通图片上传
                        let uploadInst = upload.render({
                            elem: '#upAvatar'
                            , url: '/file/avatar' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
                            , method: 'Post'
                            , auto: false
                            , bindAction: '#upload-avatar'
                            , accept: 'images'//指定允许上传时校验的文件类型
                            , acceptMime: 'image/*'//规定打开文件选择框时，筛选出的文件类型，值为用逗号隔开的 MIME 类型列表
                            , field: 'avatar'//设定文件域的字段名
                            , exts: 'jpg|png|gif|bmp|jpeg'// 设置允许上传的格式
                            , size: 102400//限制文件大小10M
                            , multiple: false
                            , choose: function (obj) {
                                obj.preview(function (index, file, result) {
                                    if (file !== null) {
                                        document.getElementById('upload').hidden = false
                                    }
                                    $('#picture').attr('src', result); //图片链接（base64）
                                    $('#picture').attr('width', '50%'); //图片链接（base64）
                                    console.log(index); //得到文件索引
                                    console.log(file); //得到文件对象

                                })
                                element.progress('demo', '0%'); //进度条复位
                                layer.msg('预览图片，点击确认上传', {time: 1200});
                            }
                            , done: function (res) {
                                //如果上传失败
                                if (res.code === 2) {
                                    return layer.msg('<strong style="color: red">上传失败</strong>');
                                } else if (res.code === 1) {
                                    layer.msg('上传成功', {time: 1200})
                                }
                                //上传成功的一些操作
                                //……
                                $('#demoText').html(''); //置空上传失败的状态
                            }
                            , error: function () {
                                //演示失败状态，并实现重传
                                let demoText = $('#demoText');
                                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                                demoText.find('.demo-reload').on('click', function () {
                                    uploadInst.upload();
                                });
                            }
                            //进度条
                            , progress: function (n, elem, e) {
                                element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
                                if (n === 100) {
                                    layer.msg('上传完毕', {icon: 1});
                                }
                            }
                        });
                    }
                    , content: ` <div style=" margin: 30px 40px">
                                <div class="layui-card-body" style="margin-left: 15px">
                                    <div>
                                        当前头像 &nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                            <img alt="当前用户头像" src="${user.avatar}"
                                                 width="100px">
                                        </span>
                                    </div>
                                </div>
                                <br/>
                                <button class="layui-btn layui-btn-primary layui-border-orange layui-btn-fluid"
                                        id="avatar" type="button" onclick="getAvatar()">更换
                                </button>
                                <div class="layui-upload">
                                    <button class="layui-btn layui-btn-primary layui-border-orange layui-btn-fluid"
                                            id="upAvatar" type="button" >上传
                                    </button>
                                    <div class="layui-upload-list" style="text-align: center">
                                        <img alt="" class="layui-upload-img" id="picture" src="">
                                        <p id="demoText"></p>
                                    </div>
                                    <div style="width: 100px; margin:0 auto">
                                        <div class="layui-progress layui-progress-big" lay-filter="demo"
                                             lay-showpercent="yes">
                                            <div class="layui-progress-bar" lay-percent=""></div>
                                        </div>
                                        <br/>
                                        <div hidden id="upload">
                                            <button class="layui-btn layui-btn-primary layui-border-green layui-btn-fluid"
                                                    id="upload-avatar" type="button">确认
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>`

                })


            })
        }

        //获取用户信息，并进行修改
        userData = function () {
            layui.use(['layer', 'form', 'util'], function () {
                let layer = layui.layer,
                    form = layui.form;

                let userInfo = layer.open({
                    id: 1000001,
                    type: 1,
                    shade: 0.7,
                    area: ['600px', '500px'],
                    shadeClose: true,
                    title: '<strong style="margin-left: 48%">信息修改</strong>',
                    time: -1,
                    btn: ['修改', '取消'],
                    content: `<form class="layui-form layui-form-pane" action="" style="margin-top: 20px;color: black">
                                      <div class="layui-form-item" hidden>
                                        <label class="layui-form-label">用户ID</label>
                                        <div class="layui-input-block">
                                          <input type="text" name="userId" lay-verify="required" value="${user.userId}"
                                                autocomplete="off" class="layui-input" readonly >
                                        </div>
                                      </div>
                                     <div class="layui-form-item">
                                        <label class="layui-form-label">用户名</label>
                                        <div class="layui-input-block">
                                          <input type="text" name="userName" lay-verify="required" placeholder="请输入用户名"
                                                class="layui-input">
                                        </div>
                                      </div>
                                      <div class="layui-form-item">
                                        <label class="layui-form-label">原密码</label>
                                        <div class="layui-input-block">
                                          <input type="password" name="oldPassWord" placeholder="填写原密码以验证用户" lay-verify="required"
                                                class="layui-input">
                                        </div>
                                      </div>
                                      <div class="layui-form-item">
                                        <label class="layui-form-label">新密码</label>
                                        <div class="layui-input-block">
                                          <input type="password" name="newPassWord" placeholder="填写新密码以修改信息"
                                                class="layui-input">
                                        </div>
                                      </div>
                                      <div class="layui-form-item" hidden>
                                        <label class="layui-form-label">密码</label>
                                        <div class="layui-input-block">
                                          <input type="password" name="passWord" value="${user.passWord}"
                                                class="layui-input">
                                        </div>
                                      </div>
                                       <div class="layui-form-item">
                                        <label class="layui-form-label">昵称</label>
                                        <div class="layui-input-block">
                                          <input type="text" name="nickName" placeholder="请输入昵称"  lay-verify="required"
                                                value="${user.nickName}"autocomplete="off" class="layui-input">
                                        </div>
                                      </div> <div class="layui-form-item">
                                        <label class="layui-form-label">状态</label>
                                        <div class="layui-input-block">
                                          <input type="text" name="status" value="${user.status === '0' ? '正常' : '已锁定'}" lay-verify="required"
                                                autocomplete="off" class="layui-input" readonly>
                                        </div>
                                      </div> <div class="layui-form-item">
                                        <label class="layui-form-label">权限</label>
                                        <div class="layui-input-block">
                                          <input type="text" name="roles" value="${user.roles}"  lay-verify="required"
                                                autocomplete="off" class="layui-input" readonly>
                                        </div>
                                      </div>
                                    </form>`,
                    success: function (layero) {
                        layero.addClass('layui-form');
                        // 将确认按钮改变成提交按钮
                        layero.find('.layui-layer-btn0').attr({
                            'lay-filter': 'user',
                            'lay-submit': ''
                        });
                    },
                    yes: function () {
                        form.on('submit(user)', function (data) {
                            console.log('修改用户信息')
                            console.log(data.field)
                            let user = data.field;
                            $.ajax({
                                url: '/admin/user/updateUser',
                                data: {
                                    userId: user.userId,
                                    userName: user.userName,
                                    passWord: user.passWord,
                                    nickName: user.nickName,
                                    oldPassWord: user.oldPassWord,
                                    newPassWord: user.newPassWord,
                                },
                                type: 'Post',
                                success: function (data) {
                                    if (data.code === 1) {
                                        layer.close(userInfo);
                                        layer.msg('修改成功，自动重新登录', {
                                            time: 1500,
                                            end: function () {
                                                //当修改成功时自动进行登录
                                                $.ajax({
                                                    url: '/admin/login',
                                                    data: {
                                                        'username': user.userName,
                                                        'password': function () {
                                                            if (user.newPassWord !== null && user.newPassWord !== '') {
                                                                return user.newPassWord
                                                            }
                                                            return user.oldPassWord
                                                        },
                                                        'remember': false
                                                    }
                                                    ,
                                                    type: 'Post',
                                                    success: function (data) {
                                                        if (data.code === 1) {
                                                            location.href = '/index';
                                                        } else {
                                                            locationbar.href = '/admin/toLogin'
                                                        }
                                                    }
                                                })
                                            }
                                        })
                                    } else if (data.code === 2) {
                                        layer.msg('', {
                                            time: 1500,
                                            content: '<strong style="color: red">' + data.message + '</strong>'
                                        })
                                    }
                                }
                            })
                        })
                    },
                    btn2: function () {
                        layer.msg('已取消', {
                            time: 1200,
                        })
                    },
                })

            })
        }
    </script>
</footer>

</body>

</html>
